###############
CMakeFiles/
okayama/
okayama90/
okayamaTEST/
test/

###############
*.a
*.cmake
*.csv
*.csv#
*.ppm

core*
log*

無題のドキュメント
\#VehicleEV.cpp\#

###############
advmates-calc
advmates-sim
